html{
    background-color: #222;
    text-align: center;
    color: white;
}

.brandsImgLinks
{

}

.brandLink {
    margin: 10px;
    width: 175px;
    height: 50px;
    text-align: center;
    display: inline-block;
    color: #e8c880;
    border: 4px solid white;
    /*background-color: #ffffff;*/
    cursor: pointer;
}

.brandLink:hover {
    border: 4px solid #e8c880;
    color: #e8c880;
}

.brandLink img
{
    width: 100%;
    height: 100%;


}