html {
    background-color: #222;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 640px;
    max-width: 1024px;
}

body {

    text-align: center;

}

section {
    text-align: center;
}

section iframe {
    width: 100%;
    /*min-height: 480px;*/
    /*height: 600px;*/
    /*border: 5px solid white;*/
}

#iFrameSection {

}

header {
}

footer {
    color: white;

}

.phoneTop {
    /*padding-top: 10px;*/
    font-size: 150%;
}

.phoneBottom {
    font-size: 100%;
}

.footerLink {
    color: white;
    margin: 5px;
    padding: 0px;
    text-decoration: none;
}

.headerLink {
    /*margin: 5px;*/
    padding: 0px;
    text-decoration: none;
}

.footerLink:hover, .headerLink:hover {
    color: #e8c880;
    /*font-weight: bold;*/
}

.logo {
    vertical-align: top;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #e8c880;
    display: inline-block;
}

.logotext {
    font-size: 65px;
    text-transform: capitalize;
}
.logoDescription {
    font-size: 19px;
    text-transform: uppercase;
}

.topContacts {
    height: 60px;
    min-width: 200px;
    display: inline-block;
    color: #e8c880;
    /*border: 2px solid blue;*/
}

.shareItLinks {
    display: inline-block;
    /*width: 24px;*/
    /*height: 24px;*/
    margin: 10px;
    padding: 0;
    outline: none;
    /*background: url(http://www.gold-rem.ru/share42/icons.png) -24px 0 no-repeat*/
}

.shareItLinks a img {
    width: 30px;
    height: 30px;
}

