html{
    background-color: #222;
    text-align: center;
    color: white;
}

.serviceLink {
    vertical-align: middle;
    height: 80px;
    width: 380px;
    text-align: left;
    font-weight: bold;
    /*font-size: 100%;*/
    display: inline-block;
    color: e8c880;
    border: 4px solid white;
    /*background-color: #ffffff;*/
    cursor: pointer;
    margin: 10px;
}

.serviceLink:hover {
    border: 4px solid e8c880;
    color: e8c880;
}

.linkTextContainer {
    color: white;
    font-size: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
.linkTextContainer:hover {
}

.linkImgContainer {
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.linkImgContainer > img {
    width: 100%;
    height: 100%;

}