@charset "utf-8";
/* CSS Document */

.table /*http://stackoverflow.com/questions/10509675/create-table-layout-using-div-with-width-height-as-percentages*/                                      {
    display: table;
}

.tableRow {
    display: table-row;
}

.tableCell {
    /*border: 2px solid blue;*/
    display: table-cell;

}

.topCenterContainer {
    vertical-align: top;
    text-align: center;
}

.middleCenterContainer {
    vertical-align: middle;
    text-align: center;
}

.topLeftContainer {
    vertical-align: top;
    text-align: left;
}

.middleLeftContainer {
    vertical-align: middle;
    text-align: left;
}

.topRightContainer {
    vertical-align: top;
    text-align: right;
}

.middleRightContainer {
    vertical-align: middle;
    text-align: right;
}

.bottomLeftContainer {
    vertical-align: bottom;
    text-align: left;
}

.bottomRightContainer {
    vertical-align: bottom;
    text-align: right;
}

.bottomCenterContainer {
    vertical-align: bottom;
    text-align: center;
}

.tableCellStepHeader {
    display: table-cell;
}

.imageContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.helpImg {
    height: 50%;
}
