/* Цвет шрифта */
body {
    background: none !important;
}

body {
    color: #000000;
}

input, textarea {
    color: #6f6f6f;
}

.panda-article {
    color: #000000;
}

.panda-path li {
    color: #000000;
}

.panda-menu__horizontal-header-item a:hover ins,
.panda-menu-item__active a,
.panda-menu-item__active span,
.panda-menu__vertical-main li span.panda-menu__vertical-main-item-link-active {
    color: #000000;
    text-decoration: none !important;
    border: none !important;
}

.panda-menu__vertical-main li, .panda-menu__vertical-main li span, .panda-menu__vertical-main li a, .panda-menu__vertical-main li a ins {
    text-decoration: underline;
    border: 0;
    color: #000000;
}

.panda-menu__vertical-main li.panda-menu__vertical-main-item-current {
    text-decoration: none;
}

.panda-menu__vertical-main-item-current ins a {
    color: #000000;
}

.panda-menu__vertical-main li a:hover, .panda-menu__vertical-main li a:hover ins {
    color: #000000;
!important;
}

ul, .panda-border-top, .panda-border-top dl {
    border-top-color: #701e2d !important;
}

/* Цвет заголовков 2го и 3го уровней */
h2, h3, h2 a, h3 a, .h2, .h3 {
    color: #000000;
}

/* Цвет ссылки */
a, .panda-link {
    color: darkred;
    text-decoration: underline;
    border: 0px;
}

.panda-link-color,
.panda-link-text-color {
    color: #000000;
}

.panda-links__revert-color a {
    color: #d61e20;
}

.panda-menu__horizontal-header-submenu {
    border-left: 4px darkred solid;
    background: #4a3d4a;
}

.panda-shadow-color, .panda-shadow-color-hover:hover {
    text-shadow: 0 0px 0;
}

/* Цвет ссылки при наведении */
a:hover, a:hover .panda-link {
    color: #000000;
    border-width: 0;
    text-decoration: none;
}

.panda-links__revert-color a:hover {
    color: #118ccc;
}

.panda-no-hover-link:hover, .panda-no-hover-link:hover .panda-link {
    color: #000000;
}

/* Цвета градиента кнопок */
.panda-gradient, .panda-gradient-hover:hover {
    background: #000000 !important;
}

/* Цвет фона */
.panda-bg-color {
    background-color: #000000 !important;
}

/* Цвет отдельных плашек */
.panda-area-color {
    background-color: darkred;
}

table[border="0"] {
    border-width: 0px !important;
    border-style: solid !important;
}

table[border="0"] td {
    border-width: 0px !important;
    border-style: solid !important;
}

table[cellpadding="0"] td {
    padding: 0px !important;
}

table[cellspacing="0"] {
    border-collapse: separate !important;
    border-spacing: 0px !important;
}

table[border="1"] {
    border-width: 1px !important;
    border-style: solid !important;
}

table[border="1"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="1"] td {
    padding: 1px !important;
}

table[cellspacing="1"] {
    border-collapse: separate !important;
    border-spacing: 1px !important;
}

table[border="2"] {
    border-width: 2px !important;
    border-style: solid !important;
}

table[border="2"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="2"] td {
    padding: 2px !important;
}

table[cellspacing="2"] {
    border-collapse: separate !important;
    border-spacing: 2px !important;
}

table[border="3"] {
    border-width: 3px !important;
    border-style: solid !important;
}

table[border="3"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="3"] td {
    padding: 3px !important;
}

table[cellspacing="3"] {
    border-collapse: separate !important;
    border-spacing: 3px !important;
}

table[border="4"] {
    border-width: 4px !important;
    border-style: solid !important;
}

table[border="4"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="4"] td {
    padding: 4px !important;
}

table[cellspacing="4"] {
    border-collapse: separate !important;
    border-spacing: 4px !important;
}

table[border="5"] {
    border-width: 5px !important;
    border-style: solid !important;
}

table[border="5"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="5"] td {
    padding: 5px !important;
}

table[cellspacing="5"] {
    border-collapse: separate !important;
    border-spacing: 5px !important;
}

table[border="6"] {
    border-width: 6px !important;
    border-style: solid !important;
}

table[border="6"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="6"] td {
    padding: 6px !important;
}

table[cellspacing="6"] {
    border-collapse: separate !important;
    border-spacing: 6px !important;
}

table[border="7"] {
    border-width: 7px !important;
    border-style: solid !important;
}

table[border="7"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="7"] td {
    padding: 7px !important;
}

table[cellspacing="7"] {
    border-collapse: separate !important;
    border-spacing: 7px !important;
}

table[border="8"] {
    border-width: 8px !important;
    border-style: solid !important;
}

table[border="8"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="8"] td {
    padding: 8px !important;
}

table[cellspacing="8"] {
    border-collapse: separate !important;
    border-spacing: 8px !important;
}

table[border="9"] {
    border-width: 9px !important;
    border-style: solid !important;
}

table[border="9"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="9"] td {
    padding: 9px !important;
}

table[cellspacing="9"] {
    border-collapse: separate !important;
    border-spacing: 9px !important;
}

table[border="10"] {
    border-width: 10px !important;
    border-style: solid !important;
}

table[border="10"] td {
    border-width: 1px !important;
    border-style: solid !important;
}

table[cellpadding="10"] td {
    padding: 10px !important;
}

table[cellspacing="10"] {
    border-collapse: separate !important;
    border-spacing: 10px !important;
}

/* Цвет надписей на кнопках */
.panda-btn {
    color: #000000;
}

/* Цвет надписей на кнопках при наведении мыши */
.panda-btn:hover span,
.panda-btn-hover span {
    color: #000000;
}

/* Цвет надписей на disabled-кнопках */
.panda-btn__disabled,
.panda-btn__disabled:hover,
.panda-btn__disabled-hover {
    color: #000000;
}

/* Цвет фона и рамки кнопок */
.panda-btn span {
    background: darkred;
    border-color: #701e2d;
}

.panda-btn-cdarkredit span {
    background:;
    border-color:;
}

.panda-search-submit-wrapper .panda-links__submit {
    background-color: darkred !important;
}

/* Цвет фона кнопок при наведении мыши */
.panda-btn:hover span,
.panda-btn-hover span {
    background: #701e2d;
    border-color: darkred;
}

.panda-btn-cdarkredit:hover span {
    background:;
    border-color:;
}

/* Цвет фона disabled-кнопок при наведении мыши */
.panda-btn__disabled:hover span,
.panda-btn__disabled-hover span {
    background: darkred;
    border-color: #701e2d;
}

/* Цвет фона удаляющих кнопок при наведении мыши */
.panda-btn__remove:hover span,
.panda-btn__remove-hover span {
    background: #ca0000;
}

h1, .h1 {
    color: #000000;
}

.h3, .h3 a {
    color: #000000;
}

.panda-category-list-small .panda-catalog-product-list-item-name span {
    color: #000000;
}

.panda-menu__horizontal-header-submenu li a:hover ins,
.panda-menu__horizontal-header-item span ins,
.panda-menu__horizontal-header-submenu li span ins {
    color: #000000;
}

.panda-catalog-product-filter-item .panda-labele {
    color: #000000;
}

dd.panda-catalog-product-list-item-description {
    color: #000000;
}

.panda-select {
    color: #000000;
}

.panda-link-bg-color, .panda-link-bg-color-hover:hover {
    background: #000000;
<!-- color : #ffffff;
-->
}

.panda-filter-params-item {
    color: #000000;
}

dd.panda-catalog-product-list-item-price {
    color: #000000;
}

.panda-catalog-product-list-item-old-price {
    color: #000000;
}

.panda-menu-border-bottom {
    border-bottom: 4px darkred solid;
}

.panda-menu__horizontal-header-submenu li span ins {
    color: #000000;
}

.panda-menu__horizontal-header-submenu li a ins {
    color: #000000;
}

.panda-menu-horizontal-header__active-bramch {
    color: #000000;
}

.panda-col-reviews {
    color: #000000 !important;
}

.panda-kartochka {
    color: #000000;
}

.panda-category-list-small p {
    color: #000000;
}

.panda-title-table, .panda-title-table a {
    color: #000000 !important;
}

td.panda-catalog-product-list-item-description {
    color: #000000 !important;
}

td.panda-catalog-product-list-item-price {
    color: #000000;
}

.panda-gadget-news dl dt {
    color: #000000;
}

.panda-news-filter-item span {
    color: #000000;
}

.panda-gadget-news dl dd {
    color: #000000;
}

.panda-menu__vertical-main-submenu {
    background: #f6f7f7;
    padding: 5px 0 5px 0;
}

.panda-catalog-product-list-container th {
    background-color: #f6f7f7;
}

.interactiveHeader-buttons {
    color: darkred !important;
    border-top-color: darkred !important;
    border-bottom-color: darkred !important;
}

.panda-menu__vertical-main-item-link-active, .panda-menu__vertical-main-item-link-active span {
    color: #000000 !important;
}

/*---------------------start для проф.корзины -------------------*/
.panda-basket__steps-item.active, .panda-basket__steps-arrow.active, .panda-basket__steps-arrow.active_step {
    background: darkred;
    background: -moz-linear-gradient(top, darkred, #701e2d);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darkred), color-stop(100%, #701e2d));
    background: -webkit-linear-gradient(top, darkred, #701e2d);
    background: -o-linear-gradient(top, darkred, #701e2d);
    background: -ms-linear-gradient(top, darkred, #701e2d);
    background: linear-gradient(top, darkred, #701e2d);
}

.panda-basket__steps-item.active .panda-basket__steps-item-num {
    border-color: #000000;
    color: #000000;
}

.panda-basket__steps-item.active .panda-basket__steps-item-text p {
    text-shadow: 0px -1px 0 #000000;
}

.panda-basket__clip-top-left, .panda-basket__clip-top-right, .panda-basket__clip-center, .toolTipBtmLeft, .toolTipBtmRight {
    background: #000000;
}

.toolTip:hover {
    color: darkred;
}

.toolTipMid, .toolTipBtmRight, .toolTipBtmLeft, .toolTip:hover {
    border-color: darkred;
}

/*------------------------end для проф.корзины--------------------------------------*/

/*---------------------start иконки у списка -------------------*/
.panda-article ul li, .panda-gadget-text ul li, .panda-gadget__item ul li, .panda-illustration .slideText ul li, .panda-illustration .panda-illustration-text ul li, .panda-illustration .text_on_illustration ul li, .panda-catalog-product-card-field__body-full-width ul li {
    padding: 4px 0 4px 18px;
    line-height: 1.285em;
    background: url('../designs/design_4/inner/images/li.png') 0 14px no-repeat;
}

.panda-gadget-gallery ul li {
    padding: 0;
}

.panda-counter ul li {
    padding: 0;
    background: none;
}

/*------------------------end иконки у списка --------------------------------------*/
/*---------------------start текст поверх иллюстрации -------------------*/
.text_on_illustration {
    position: absolute;
    z-index: 2;
    top: 75px;
    left: -3000px;
    height: 280px;
    width: 359px;
    overflow: hidden;
}

/*------------------------end текст поверх иллюстрации --------------------------------------*/
/*---------------------start стили выделенного блока -------------------*/
/*------------------------end стили выделенного блока --------------------------------------*/

.cke_reset {
    background-color: transparent !important;
}

.cke_maximized, .cke_maximized .cke_editable {
    background-color: white !important;
    color: black !important;
}



