/* Карта сайта
--------------------------*/

.map ul{ width:100%;}
.map li{ position:relative; margin-left:20px;}

.map .icons{ position:absolute; left:400px; top: -8px;}
.map li h2 {font-family:Arial, "Times New Roman", Times, serif; padding:0 10px 0 0px; line-height:24px;}
.map li h2 a {font-size:18px;}
.map li input.f-left { margin:4px 0 0 -23px;}
.map ul.sort_list{ margin-top:10px;}

.map li input.text{ margin:6px 0 1px 23px; width:165px; height:18px;}
.map li input.ok{ height:22px; width:75px; margin:6px 0 1px 0;}
.map input.button{ width:135px; height:24px; margin:40px 20px 0 0;}
.map li p{ clear:left;}
.map p a{ float:left; font-size:12px;}

.map_form p			{padding-bottom:10px;}
.map_form select	{width:146px;}

.map {padding-top:1px; margin-left:1px;}
.sort_list {list-style-type:none; font:normal Arial 1.8em;}
.article-content .sort_list li {background:none; padding:0; margin-left:0;}

.map li ul {margin-left:10px;}
.map li li a {font-size:12px;}
.map li.contacts h2 {margin-top:5px;}


.map li a img.move{background: none repeat scroll 0 0 transparent; height:16px; width:16px; margin:0 10px 0 0; cursor:move;}
.map li a img.edit{background: none repeat scroll 0 0 transparent; height:16px; width:16px;margin:8px 7px 0 0!important;}
.map li a img.pub{ margin-top:8px!important;}
.map li a img.move{background: none repeat scroll 0 0 transparent; height:16px; width:16px; margin:0 10px 0 0; cursor:move;}
.map li a img.add{background: none repeat scroll 0 0 transparent; height:16px; width:16px; margin:8px 0 0 8px; }
.map img.del{background: none repeat scroll 0 0 transparent; height:16px; width:16px; margin:7px 7px 0 0; cursor:pointer; }